includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    excludePaths:
        - src/setup.php
    ignoreErrors:
        - '#^Class Laravel\\Horizon\\Console\\WorkCommand not found#'
        - '#^Class Spatie\\TypeScriptTransformer\\TypeScriptTransformerConfig not found#'
        - '#^Class Laravel\\VaporUi\\Console\\PublishCommand not found#'

